<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-start">
    <%= link_to "RECIPE APP", root_path, class: 'ps-4 mx-5 is-link display-4' %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Public Recipes", root_path, class: "navbar-item text-dark" %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About Developers
          </a>
          <a class="navbar-item">
            Report an issue
          </a>
          <a class="navbar-item">
            Contact
          </a>
        
        </div>
      </div>
    </div>
  </div>
</nav>
</header>
    <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
    <% end %>
    